@mixin text-preset-h0 {
  font-size: 3.25rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
  line-height: 1.1;
  text-align: center;
}

@mixin text-preset-h1 {
  font-size: 2.25rem;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.2;
}

@mixin text-preset-h2 {
  font-size: 1.15rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;

  @include mq($from: tablet) {
    font-size: 1.5rem;
    letter-spacing: 3px;
  }
}

@mixin text-preset-h3 {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1px;
}

@mixin text-preset-h4 {
  font-size: 1.125rem;
  font-weight: 400;
  text-transform: uppercase;
}

@mixin visually-hidden {
  border: 0;
  clip-path: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@import '~sass-mq';
