@mixin text-preset-h0 {
  font-size: 2.25rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
  line-height: 1.1;
  text-align: center;

  @include mq($from: tablet) {
    font-size: 3.25rem;
  }
}

@mixin text-preset-h1 {
  font-size: 1.75rem;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.2;

  @include mq($from: tablet) {
    font-size: 2.25rem;
  }
}

@mixin text-preset-h2 {
  font-size: 1.15rem;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.2;
  text-transform: uppercase;

  @include mq($from: tablet) {
    font-size: 1.5rem;
    letter-spacing: 3px;
  }
}

@mixin text-preset-h3 {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1px;
}

@mixin text-preset-h4 {
  font-size: 1.125rem;
  font-weight: 400;
  text-transform: uppercase;
}

@mixin text-preset-text {
  font-size: 1rem;
  letter-spacing: 0.05rem;
  line-height: 1.5;

  @include mq($from: tablet) {
    font-size: 1.3125rem;
    line-height: 1.6;
  }
}

@mixin text-preset-small {
  font-size: 1rem;
  letter-spacing: 0.05rem;
  line-height: 1.5;

  @include mq($from: tablet) {
    font-size: 1.125rem;
  }
}

@mixin text-preset-caption {
  font-size: 0.75rem;
  letter-spacing: 1px;
  line-height: 1.25;
}

@mixin visually-hidden {
  border: 0;
  clip-path: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@mixin arrow {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 13"><path fill="' + $color-grey + '" d="M5.5 10.1l3.56-6.34a.5.5 0 0 1 .88.5l-4.5 8-.44.77-.44-.78-4.5-8a.5.5 0 0 1 .88-.49L4.5 10.1V.5a.5.5 0 1 1 1 0v9.6z"/></svg>');
  background-repeat: no-repeat;
  content: '';
  height: 1rem;
  width: 0.8rem;
}

@import '~sass-mq';
