.arrow {
  color: $color-grey;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 3rem;

  @include mq($from: tablet) {
    margin-bottom: 4rem;
  }

  &__arrow {
    border-right: 1px solid currentColor;
    min-height: 3rem;
    position: relative;
    width: 1px;

    @include mq($from: tablet) {
      min-height: 4rem;
    }

    &::before {
      border-top: 1px solid currentColor;
      content: '';
      height: 1px;
      left: 0;
      position: absolute;
      top: 0;
      transform: translateX(-0.25rem);
      width: 0.6rem;
    }

    &::after {
      @include arrow;

      left: 0;
      position: absolute;
      top: calc(100% - 2px);
      transform: translateX(calc(-50% + 0.0252rem));
    }
  }
}
