.btn {
  border: 2px solid currentColor;
  color: currentColor;
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.075rem;
  line-height: 1;
  padding: 1rem 2.5rem;
  text-transform: uppercase;
  transition: transform 200ms ease;

  &:hover,
  &:focus {
    background-color: white;
    color: black;
  }

  &:active {
    transform: scale(1.15);
  }
}
