.columns {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
  margin-top: 4rem;

  @include mq($from: tablet) {
    flex-direction: row;
  }

  &__column {
    position: relative;

    @include mq($from: tablet) {
      padding: 4rem 3rem;
      width: 50%;
    }

    @include mq($from: tablet) {
      & + & {
        border-left: 1px solid $color-grey;

        &::after {
          @include arrow;

          left: 0;
          position: absolute;
          top: calc(100% - 2px);
          transform: translateX(calc(-50% - 0.04rem));
        }
      }
    }

    > *:not(.quote) + *:not(.quote) {
      margin-top: 1.5rem;
    }

    // Text is smaller in the columns ¯\_(ツ)_/¯
    .richtext {
      @include text-preset-small;
    }

    // Quotes are left aligned in columns
    .quote {
      align-items: flex-start;

      @include mq($from: tablet) {
        padding-left: 0;
        padding-right: 0;

        &__author,
        .richtext {
          text-align: left;
        }
      }
    }

    // Don't show the images as a grid, but as list
    .grid {
      flex-direction: column;
    }

    .grid__item {
      flex-basis: 100%;
    }
  }
}
