.columns {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
  margin-top: 4rem;

  @include mq($from: tablet) {
    flex-direction: row;
  }

  &__column {
    @include mq($from: tablet) {
      padding: 4rem;
      width: 50%;
    }

    @include mq($from: tablet) {
      & + & {
        border-left: 1px solid $color-grey;
      }
    }

    > *:not(.quote) + *:not(.quote) {
      margin-top: 1.5rem;
    }

    .richtext {
      font-size: 1.125rem;
      text-align: left;
    }

    .quote {
      align-items: flex-start;
    }

    .quote__author {
      text-align: left;
    }
  }
}
