.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &--has-no-parent {
    background-color: black;
    color: white;
  }

  &--has-parent {
    background-color: white;
    color: black;
  }
}
