.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;

  &::before {
    background-image: linear-gradient(to bottom, black 2%, transparent 95%);
    content: '';
    height: 10rem;
    left: 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
  }

  &--has-no-parent {
    background-color: black;
    color: white;
  }

  &--has-parent {
    background-color: white;
    color: black;
  }
}
