.figure {
  font-size: 0;
  margin: 0;

  &__caption {
    color: #9B9B9B;
    font-size: 0.75rem;
    letter-spacing: 1px;
    line-height: 1.125;
    margin-top: 0.5rem;
  }

  &--is-video &__caption {
    display: flex;
    flex-direction: row;
  }

  &--is-video &__caption-container {
    padding-right: 1rem;
  }

  &__play {
    flex: 0 0 auto;
    height: 2rem;
    justify-self: flex-end;
    margin-left: auto;
    width: 2rem;
  }
}
