.figure {
  font-size: 0;
  margin: 0;

  &__inner-link {
    display: block;
    overflow: hidden;
  }

  &__inner-link:hover > .image,
  &__inner-link:focus > .image {
    transform: scale(1.05);
  }

  &--is-video .image {
    transition: transform 300ms ease-in-out;
  }

  &__caption {
    @include text-preset-caption;

    color: $color-grey;
    margin: 0.5rem;

    @include mq($from: tablet) {
      margin-top: 0.75rem;
    }
  }

  &--is-video &__caption {
    display: flex;
    flex-direction: row;
  }

  &--is-video &__caption-container {
    margin-right: 0.5rem;
  }

  &__play {
    color: white;
    flex: 0 0 auto;
    height: 3rem;
    justify-self: flex-end;
    margin-left: auto;
    transform: translateY(-60%);
    width: 3rem;

    @include mq($from: tablet) {
      height: 4.5rem;
      margin-right: 2.5rem;
      width: 4.5rem;
    }
  }

  &__play:hover &__play-svg-triangle,
  &__Play:focus &__play-svg-triangle {
    fill: white;
  }

  &__play:hover &__play-svg-circle,
  &__Play:focus &__play-svg-circle {
    fill: black;
  }
}
