.footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  width: 100%;

  &__row {
    background-color: currentColor;
    display: flex;
    justify-content: center;
    flex: 0;
    width: 100%;

    & + & {
      margin-top: 0.5rem;
    }
  }

  &__partner {
    font-size: 0.625rem;
    letter-spacing: 0.05rem;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
    width: 100%;

    &:first-child {
      @include mq($until: tablet) {
        display: none;
      }
    }

    @include mq($from: tablet) {
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
      width: 50%;
    }
  }

  &__row-content {
    background-color: black;
    display: flex;
    flex-direction: row;
    max-width: 85%;
    padding-left: 0.75rem;
    padding-right: 0.75rem;

    @include mq($from: tablet) {
      max-width: 40rem;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }

    .menu {
      display: flex;
      flex-direction: row;
      list-style: none;
      margin-bottom: 0;
      margin-top: 0;
      padding-left: 0;
    }

    .menu-item > a {
      color: currentColor;
      display: block;
      font-size: 0.7rem;
      font-weight: 700;
      letter-spacing: 2px;
      text-transform: uppercase;

      @include mq($from: tablet) {
        font-size: 1.125rem;
        letter-spacing: 4px;
        padding-bottom: 0.35rem;
        padding-top: 0.35rem;
      }
    }

    .menu-item + .menu-item {
      margin-left: 0.5rem;

      @include mq($from: tablet) {
        margin-left: 1.5rem;
      }
    }
  }

  &--inverse &__row-content {
    background-color: white;
  }

  &__row:nth-child(1) &__row-content {
    margin-left: 3.5rem;

    @include mq($from: tablet) {
      margin-left: 7.5rem;
    }
  }

  &__row:nth-child(3) &__row-content {
    @include mq($from: tablet) {
      margin-right: -2.5rem;
    }
  }

  &__extended {
    margin-top: 2rem;
    padding-bottom: 2rem;

    @include mq($from: tablet) {
      margin-top: 4rem;
      padding-bottom: 4rem;
    }

    .richtext {
      font-size: 0.8rem;

      @include mq($from: tablet) {
        font-size: 1rem;
      }
    }
  }
}
