.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: 4rem;
  margin-top: 4rem;
  padding-left: 0;

  &__item {
    flex: 0 1 33.333%;
    padding-bottom: 0.5rem;
    padding-right: 0.5rem;
  }

  &--items-1 &__item {
    flex-basis: 100%;
  }

  &--items-2 &__item,
  &--items-4 &__item {
    flex-basis: 50%;
  }
}
