.grid {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: 2rem;
  margin-top: 2rem;
  padding-left: 1rem;
  padding-right: 0.5rem;

  @include mq($from: tablet) {
    flex-direction: row;
    margin-bottom: 4rem;
    margin-top: 4rem;
    padding-left: 0;
    padding-right: 0;
  }

  &__item {
    flex: 0 1 33.333%;
    padding-bottom: 0.5rem;
    padding-right: 0.5rem;
  }

  &--items-1 &__item {
    flex-basis: 100%;
  }

  // An exception: in case there are two items, keep the horizontal style
  &--items-2 {
    @include mq($until: tablet) {
      flex-direction: row;
    }
  }

  &--items-2 &__item,
  &--items-4 &__item {
    flex-basis: 50%;
  }
}
