.header {
  align-items: center;
  background-color: black;
  border-bottom: 1px solid currentColor;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  z-index: 20;

  &__logo {
    margin-right: 5rem;
    padding-bottom: 1rem;
    padding-top: 1rem;

    svg {
      fill: white;
      width: 12rem;
    }
  }

  &__logo-site-name {
    @include visually-hidden;
  }
}
