.headline {
  display: block;
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;

  &--as-h1 {
    @include text-preset-h1;
  }

  &--as-h2 {
    @include text-preset-h2;
  }

  &--as-h3 {
    @include text-preset-h3;
  }

  &--as-h4 {
    @include text-preset-h4;
  }
}
