.header {
  align-items: center;
  background-color: black;
  border-bottom: 1px solid currentColor;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  z-index: 20;

  &__logo {
    font-size: 0;
    line-height: 1;
    margin-right: 5rem;

    svg {
      fill: white;
      width: 10rem;
    }
  }

  &__logo-site-name {
    @include visually-hidden;
  }
}
