.info {
  color: #9B9B9B;
  margin-bottom: 4rem;
  margin-top: 4rem;

  .headline {
    font-size: 1.125rem;
    line-height: 1;
    text-align: left;
  }

  .richtext {
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1.5;
    margin-top: 1rem;
  }
}
