.info {
  color: #9B9B9B;
  margin-bottom: 4rem;
  margin-top: 4rem;

  .headline {
    font-size: 1.125rem;
    line-height: 1;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    text-align: left;

    @include mq($from: tablet) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .richtext {
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1.5;
    margin-top: 1rem;
  }
}
