.intro {
  align-items: center;
  display: flex;
  margin-bottom: 2rem;
  max-height: 90vh;
  width: 100%;

  @include mq($from: tablet) {
    min-height: 80vh;
  }

  &--orientation-portrait {
    flex-direction: row;
    padding-top: 1rem;

    @include mq($from: tablet) {
      padding-top: 8rem;
    }
  }

  @include mq($from: tablet) {
    &--orientation-portrait {
      min-height: auto;
    }
  }

  &--with-quote,
  &--orientation-landscape {
    @include text-shadow;

    flex-direction: column;
  }

  &__subtitle {
    display: block;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.05rem;
    line-height: 1.4;
    margin-top: 1rem;

    @include mq($from: tablet) {
      font-size: 1.35rem;
      margin-top: 2rem;
    }
  }

  &__image {
    max-height: 100%;
    object-fit: cover;
  }

  &--with-quote &__image,
  &--orientation-portrait &__image {
    max-height: 60vh;
    object-fit: contain;
  }

  &__image-container {
    max-height: 100%;
    position: relative;
  }

  // Gradient
  &--orientation-landscape &__image-container::after {
    background-image: linear-gradient(to bottom, transparent, black);
    bottom: 0;
    content: '';
    height: 20%;
    left: 0;
    position: absolute;
    width: 100%;
  }

  &__content-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    z-index: 10;

    .quote {
      margin-bottom: 0;
      margin-top: 0;
    }

    .quote .richtext {
      font-size: 1.5rem;

      @include mq($from: tablet) {
        font-size: 2.06rem;
      }
    }
  }

  &--with-quote &__content-container {
    margin-top: -3.5rem;
  }

  &--orientation-landscape &__content-container {
    margin-top: -15%;
  }

  &--orientation-portrait &__content-container {
    padding-left: 0;
    padding-right: 1rem;

    @include mq($until: tablet) {
      @include text-shadow;

      align-self: flex-end;
      flex: 1 0 75%;
      margin-bottom: 1.5rem;
      margin-left: -50%;
      width: 75%;
    }

    @include mq($from: tablet) {
      flex-basis: 50%;
      padding: 4rem;
    }
  }

  &--orientation-portrait &__image-container {
    flex: 1 0 75%;
    position: relative;

    @include mq($from: tablet) {
      border-right: 1px solid $color-grey;
      flex-basis: 50%;
      padding: 1rem 4rem 4rem 4rem;

      &::after {
        @include arrow;

        position: absolute;
        right: 0;
        top: calc(100% - 2px);
        transform: translateX(calc(50% + 0.05rem));
      }
    }
  }

  &--orientation-portrait .headline--as-h1 {
    @include mq($until: tablet) {
      font-size: 1.25rem;
      text-align: right;
    }
  }
}
