.intro {
  align-items: center;
  display: flex;
  margin-bottom: 2rem;
  max-height: 90vh;

  @include mq($from: tablet) {
    margin-bottom: 6rem;
    min-height: 80vh;
  }

  &--orientation-portrait {
    flex-direction: row;
    padding-top: 1rem;

    @include mq($from: tablet) {
      padding-top: 8rem;
    }
  }

  @include mq($from: tablet) {
    &--orientation-portrait {
      min-height: auto;
    }
  }

  &--with-quote,
  &--orientation-landscape {
    flex-direction: column;
  }

  &__subtitle {
    margin-top: 1rem;
  }

  &__image {
    max-height: 100%;
    object-fit: cover;
  }

  &--with-quote &__image,
  &--orientation-portrait &__image {
    max-height: 60vh;
    object-fit: contain;
  }

  &__image-container {
    max-height: 100%;
    position: relative;
  }

  // Gradient
  &--orientation-landscape &__image-container::after {
    background-image: linear-gradient(to bottom, transparent, black);
    bottom: 0;
    content: '';
    height: 20%;
    left: 0;
    position: absolute;
    width: 100%;
  }

  &__content-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    z-index: 10;

    .quote {
      margin-bottom: 0;
      margin-top: 0;
    }

    .quote .richtext {
      font-size: 2.06rem;
    }
  }

  &--with-quote &__content-container {
    margin-top: -2%;
  }

  &--orientation-landscape &__content-container {
    margin-top: -15%;
  }

  &--orientation-portrait &__content-container {
    flex-basis: 50%;
    padding: 1rem;

    @include mq($from: tablet) {
      padding: 4rem;
    }
  }

  &--orientation-portrait &__image-container {
    border-right: 1px solid $color-grey;
    flex-basis: 50%;
    padding: 0 1rem 1rem 1rem;

    @include mq($from: tablet) {
      padding: 0 4rem 4rem 4rem;
    }
  }

  &--orientation-portrait .headline--as-h1 {
    @include mq($until: tablet) {
      font-size: 1.75rem;
    }
  }
}
