.mark {
  margin-bottom: 2rem;
  margin-top: 2rem;

  @include mq($until: tablet) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  &__text {
    background-color: white;
    box-decoration-break: clone;
    color: black;
    display: inline;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.025rem;
    line-height: 2.1;
    padding: 0.25rem 0.5rem;

    @include mq($from: tablet) {
      font-size: 1.3rem;
    }

    .site--has-parent & {
      background-color: black;
      color: white;
    }
  }
}
