.header .menu {
  padding: 0 1rem;
  display: flex;

  @include mq($from: tablet) {
    padding-left: 0;
    padding-right: 0;
  }

  @include mq($until: tablet) {
    &-container {
      animation-duration: 200ms;
      animation-fill-mode: both;
      animation-timing-function: ease;
      background-color: white;
      color: black;
      display: none;
      flex-direction: column;
      left: 0;
      max-width: 85vw;
      min-height: 100vh;
      padding: 0 1.5rem 0 0.5rem;
      position: absolute;
      top: 0;
      z-index: 10;
    }
  }

  .sub-menu {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    width: 100%;
  }

  &,
  .sub-menu {
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;

    @include mq($from: tablet) {
      flex-direction: row;
      justify-content: center;
    }
  }

  a {
    color: currentColor;

    @include mq($from: tablet) {
      white-space: nowrap;
    }
  }

  > * + * {
    @include mq($from: tablet) {
      margin-left: 1rem;
    }

    @include mq($from: desktop) {
      margin-left: 2rem;
    }
  }

  & > .menu-item > a {
    display: inline-block;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 2px;
    padding-bottom: 0.35rem;
    padding-top: 1.5rem;
    position: relative;
    text-transform: uppercase;

    @include mq($from: tablet) {
      font-size: 0.9rem;
      font-weight: 400;
      padding-bottom: 1rem;
      padding-top: 1rem;
    }

    @include mq($from: desktop) {
      font-size: 1.1rem;
    }
  }

  & > .current-page-ancestor > a::after {
    @include mq($from: tablet) {
      background-color: currentColor;
      bottom: -6px;
      content: '';
      height: 12px;
      left: 0;
      position: absolute;
      width: 100%;
      z-index: 10;
    }
  }

  .sub-menu-container {
    padding: 0;

    @include mq($from: tablet) {
      background-color: black;
      border-bottom: 1px solid white;
      display: none;
      justify-content: center;
      left: 0;
      padding: 1rem;
      position: absolute;
      top: calc(100% + 1px);
      width: 100%;
    }

    @include mq($from: desktop) {
      padding: 1.5rem;
    }
  }

  .sub-menu {
    > * > a {
      font-size: 1rem;

      @include mq($from: tablet) {
        font-size: 1rem;
      }

      @include mq($from: desktop) {
        font-size: 1.35rem;
      }
    }

    > * + * {
      @include mq($from: tablet) {
        margin-left: 2rem;
      }

      @include mq($from: desktop) {
        margin-left: 2.5rem;
      }
    }

    > * > a[aria-current="page"] {
      background-color: currentColor;

      &:hover,
      &:focus {
        background-color: transparent;
      }
    }
  }

  & > .menu-item:focus > .sub-menu-container,
  & > .menu-item:hover > .sub-menu-container,
  & > .menu-item.current-page-parent > .sub-menu-container {
    display: flex;
  }
}

// Social media menu

.footer .menu {
  &-item__icon > svg {
    height: 1rem;
    width: 1rem;

    @include mq($from: tablet) {
      height: 1.5rem;
      width: 1.5rem;
    }
  }

  &-item__hidden-label {
    @include visually-hidden;
  }

  & > .menu-item > a:hover,
  & > .menu-item > a:focus {
    text-decoration: underline;
  }
}
