.header .menu {
  padding: 0 1rem;

  &,
  .sub-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
  }

  a {
    color: currentColor;
    white-space: nowrap;
  }

  > * + * {
    margin-left: 2rem;
  }

  & > .menu-item > a {
    display: inline-block;
    font-size: 1rem;
    letter-spacing: 2px;
    padding-bottom: 1rem;
    padding-top: 1rem;
    position: relative;
    text-transform: uppercase;
  }

  & > .current-menu-item > a::after {
    background-color: currentColor;
    bottom: -6px;
    content: '';
    height: 12px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 10;
  }

  .sub-menu {
    background-color: black;
    border-bottom: 1px solid white;
    display: none;
    left: 0;
    padding: 1.5rem;
    position: absolute;
    top: calc(100% + 1px);
    width: 100%;

    > * + *::before {
      content: '–';
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }

    > * > a {
      font-size: 1.5rem;
    }
  }

  .current-menu-item > .sub-menu {
    display: flex;
  }
}
