.richtext {
  font-size: 1rem;
  letter-spacing: 0.05rem;
  line-height: 1.5;
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  @include mq($from: tablet) {
    font-size: 1.3125rem;
    line-height: 1.6;
    padding-left: 0;
    padding-right: 0;
  }

  &--is-centered {
    text-align: center;
  }

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }

  h2 {
    @include text-preset-h1;
  }

  h3 {
    @include text-preset-h2;
  }

  h4 {
    @include text-preset-h3;
  }

  a {
    text-decoration: underline;
  }

  // summary below text
  span.footnote,
  // footnote in text
  sup.footnote {
    font-size: 0.85rem;
    font-weight: 700;

    > a {
      line-height: 1;
      margin: -0.3rem;
      padding: 0.3rem;
      text-decoration: none;

      &:hover,
      &:focus {
        background-color: black;
        color: white;
      }
    }
  }
}
