.richtext {
  font-size: 1.3125rem;
  letter-spacing: 0.05rem;
  line-height: 1.6;

  &--is-centered {
    text-align: center;
  }

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }

  h2 {
    @include text-preset-h1;
  }

  h3 {
    @include text-preset-h2;
  }

  h4 {
    @include text-preset-h3;
  }

  a {
    text-decoration: underline;
  }
}
