.teaser {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
  margin-top: 4rem;
  width: 100%;

  &__title-container {
    margin-bottom: 3.5rem;
    position: relative;
    text-align: center;
    width: 100%;

    &::before {
      background-color: currentColor;
      content: '';
      height: 1.7rem;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;

      @include mq($from: tablet) {
        height: 2rem;
      }
    }

    .headline {
      background-color: black;
      display: inline-block;
      max-width: 60%;
      padding: 0 0.75rem;
      position: relative;
      z-index: 10;

      @include mq($from: tablet) {
        max-width: 35rem;
        padding: 0.15rem 1.5rem;
      }
    }
  }

  &__cta {
    margin-top: 3.5rem;
    text-align: center;
  }
}
