body {
  background-color: black;
  color: white;
}

/* Richtext editor background */
body.mce-content-body {
  background-color: white;
  color: black;
}

.wp-block {
  max-width: 1024px;
}

.acf-block-body .acf-block-fields {
  background-color: white;
}

h1,
h2,
h3,
h4,
h5 {
  color: inherit;
}

/* Title */

.editor-post-title__input,
.editor-post-title__block {
  color: inherit;
  font-family: 'Poppins';
}
